<!DOCTYPE html>  
<html>  
<head> 
	<title>{{page.title}}</title>
	{% include meta.html %}
	{% include base.html %}
</head>
<body>	
	<div id="container" class="outline notes">
		<div id="title">
			<h1>Week {{page.week}} {{page.dek}}</h1>
			<p><a href="{{site.url}}{{site.baseurl}}/">{{page.title}}</a> > <a href="{{site.url}}{{site.baseurl}}/schedule.html#week-{{page.week}}">Week {{page.week}}</a></p>
		</div>
		<div id="menu">
			<p><em>Contents</em></p>
			<ul></ul>
		</div>
		{{ content }}
	</div>
	<script src="{{site.url}}{{site.baseurl}}/slides/lib/menu.js"></script>
</body>  
</html>  